.form__labelText {
    display: block;
    text-align: center;
    width: 100%;

}

.form__field {
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
    box-shadow: 3px 2px 6px rgb(84, 101, 101), 0 2px 5px rgba(251, 248, 248, 0.2);
}

.form__button {
    width: 100%;
    border: none;
    background-color: teal;
    color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
    transition: 0.3s;
}

.form__button:hover {
    background-color: hsl(180, 100%, 20%);
}

.form__button:active {
    background-color: hsl(180, 100%, 35%);
}

.form__fieldset {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    margin: 20px 0;
}

.form__legend {
    background-color: teal;
    color: whitesmoke;
    padding: 5px;
    border-radius: 5px;
}

.form__header {
    color: teal;
    text-align: center;
}

.form__info {
    text-align: center;
    font-size: 14px;
    color: gray;
}

.form p {
    display: flex;
    flex-direction: column;
    align-items: center;
}