html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

#root {
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}