html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

#root {
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

body {
  background-color: #f0f0f0;
  background-image: url("/public/Image/tlo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}